.background-box {
  width: 300px;
  height: 300px;
}

.background-box--1 {
  background-color: red;
  background-image: url("http://unsplash.it/100/50");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}

.background-box--2 {
  background-color: yellow;
  background-image: url("http://unsplash.it/100/50");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top;
  background-size: cover;
}

.background-box--3 {
  background-color: maroon;
  background-image: url("http://unsplash.it/100/50");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top;
  background-size: cover;
}

.background-box--4 {
  background-color: lightpink;
  background-image: url("http://unsplash.it/100/50");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top;
  background-size: cover;
}

.background-box--5 {
  background-color: khaki;
  background-image: url("http://unsplash.it/100/50");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top;
  background-size: cover;
}

.background-box--6 {
  background-color: aqua;
  background-image: url("http://unsplash.it/100/50");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left;
  background-size: cover;
}

.background-box--7 {
  background-color: hotpink;
  background-image: url("http://unsplash.it/100/50");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.background-box--8 {
  background-color: cadetblue;
  background-image: url("http://unsplash.it/100/50");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left;
  background-size: cover;
}

.background-box--9 {
  background-color: chartreuse;
  background-image: url("http://unsplash.it/100/50");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left;
  background-size: cover;
}

.background-box--10 {
  background-color: chocolate;
  background-image: url("http://unsplash.it/100/50");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left;
  background-size: cover;
}

.background-box--11 {
  background-color: coral;
  background-image: url("http://unsplash.it/100/50");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom;
  background-size: contain;
}

.background-box--12 {
  background-color: cornflowerblue;
  background-image: url("http://unsplash.it/100/50");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom;
  background-size: contain;
}

.background-box--13 {
  background-color: crimson;
  background-image: url("http://unsplash.it/100/50");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom;
  background-size: contain;
}

.background-box--14 {
  background-color: cyan;
  background-image: url("http://unsplash.it/100/50");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom;
}

.background-box--15 {
  background-color: violet;
  background-image: url("http://unsplash.it/100/50");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom;
  background-size: contain;
}

.background-box--16 {
  background-color: black;
  background-image: url("http://unsplash.it/100/50");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right;
  background-size: contain;
}

.background-box--17 {
  background-color: blue;
  background-image: url("http://unsplash.it/100/50");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right;
  background-size: contain;
}

.background-box--18 {
  background-color: blueviolet;
  background-image: url("http://unsplash.it/100/50");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right;
  background-size: contain;
}

.background-box--19 {
  background-color: brown;
  background-image: url("http://unsplash.it/100/50");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right;
  background-size: contain;
}

.background-box--20 {
  background-color: navy;
  background-image: url("http://unsplash.it/100/50");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right;
  background-size: contain;
}
