.svg-google-plus {
  width: 20px;
  height: 20px;
  fill: red;
  font-size: 30px;
}

.svg-google-drive {
  width: 20px;
  height: 20px;
  fill: green;
  font-size: 30px;
}

.svg-instagram {
  width: 20px;
  height: 20px;
  fill: pink;
  font-size: 30px;
}

.svg-whatsapp {
  width: 20px;
  height: 20px;
  fill: lime;
  font-size: 30px;
}

.svg-spotify {
  width: 20px;
  height: 20px;
  fill: purple;
  font-size: 30px;
}

.svg-telegram {
  width: 20px;
  height: 20px;
  fill: brown;
}

.svg-vine {
  width: 20px;
  height: 20px;
  fill: teal;
  font-size: 30px;
}

.svg-vk {
  width: 20px;
  height: 20px;
  fill: silver;
  font-size: 30px;
}

.svg-youtube {
  width: 20px;
  height: 20px;
  fill: red;
  font-size: 30px;
}

.svg-twitch {
  width: 20px;
  height: 20px;
  fill: maroon;
  font-size: 30px;
}

.svg-steam {
  width: 20px;
  height: 20px;
  fill: fuchsia;
  font-size: 30px;
}

.svg-dropbox {
  width: 20px;
  height: 20px;
  fill: olive;
  font-size: 30px;
}

.svg-android {
  width: 20px;
  height: 20px;
  fill: navy;
  font-size: 30px;
}

.svg-windows {
  width: 20px;
  height: 20px;
  fill: gold;
  font-size: 30px;
}

.svg-chrome {
  width: 20px;
  height: 20px;
  fill: tan;
  font-size: 30px;
}

.svg-firefox {
  width: 20px;
  height: 20px;
  fill: violet;
  font-size: 30px;
}

.svg-ie {
  width: 20px;
  height: 20px;
  fill: indigo;
  font-size: 30px;
}

.svg-opera {
  width: 20px;
  height: 20px;
  fill: tomato;
  font-size: 30px;
}

.svg-facebook {
  width: 20px;
  height: 20px;
  fill: indianred;
  font-size: 30px;
}

.svg-twitter {
  width: 20px;
  height: 20px;
  fill: aquamarine;
  font-size: 30px;
}
